# Ex.2 Data Science Jupyter Notebook

## Ex.3 Introduction
Ex.3 This notebook provides an overview of how to use Jupyter Notebook

## Ex.4 Data Science Languages
- Python
- R
- SQL
- Julia
- Java

## Ex.5 Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow

## Ex.6 Data Science Tools
| Tool           | Description                             |
|----------------|-----------------------------------------|
| Jupyter Notebook | Interactive coding environment         |
| RStudio        | IDE for R                               |
| TensorFlow     | Deep learning framework                 |

## Ex.7 Arithmetic Expression Examples
Below are some basic arithmetic operations used in data science.

In [2]:
# Ex.8 Multiplication and addition
result = (5 * 4) + 10
result

30

In [1]:
# Ex.9 Convert minutes to hours
minutes = 150
hours = minutes / 60
hours

2.5

## Ex.10 Objectives
- Understand data science languages and tools.
- Learn basic arithmetic operations.
- Convert time measurements.

## Author
TÃ¢nia